/* this line is for declaring css variables */
:root{
    --color_1: #FECD45;
    --color_2: #FDF5DF;
    --color_3: #5EBEC4;
    --color_4: #667ab1;
    --color_5: rgb(214, 214, 211);
}





/* this style is for all elements */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Times New Roman', serif;
}


html{
    scroll-behavior: smooth;
}

body {
line-height: 1.5;
background-color: var(--color_2);
overflow-y: scroll;

}




h1,h2{
    margin-bottom: 10px;

}





ul{
    list-style-type: none;
}





.container{
    max-width: 1100px;
    margin: 0 auto ;
   
}





#navbar{
    background-color: var(--color_3);
    color: azure;
    height: 50px;
    z-index: 1000;
}


nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }


#logo{
    font-size: x-large;
    font-weight: bold;
    padding-top: 5px;
    z-index: 1000;
}




#navbar .container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: 1000;

}





#navbar a{
    text-decoration: none;
    color: white;
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
}





 #navbar a:hover{
     color:antiquewhite;
 }




#navbar ul{
    display: flex;
    justify-content: space-between;
    
}




#navbar ul li {
    padding-top: 12px;
}



.header{
    background-color: var(--color_4);
    color: white;
    min-height: 200px;
    height: 100%;
    width: 100%;
    display: flex;

}




.header h2{
    font-size: large 20px;
    line-height: 1;

}




section{
    height: 100vh;
    width: 100%;
    padding: 10px;
  
}




#map-section .container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:100%;
    width: 100%; 
}





#irriMap{
    flex: 1;
    margin: 10px;
    padding: 15px;
    background-color:var(--color_5);
    box-shadow: 0 2px 3px 0 , rgba(01, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
    height: 600px;
    z-index: 1;
}





#table-section .container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
   
}




.table{
    flex: 1;
    margin: 10px;
    padding: 15px;
    background-color: var(--color_5);
    box-shadow: 0 2px 3px 0 , rgba(01, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
    min-height: 300px;

}




.main-table {
    border-collapse: collapse;
    height: 50px;
    background-color: beige;
    width: 100%;
    margin: 12px auto;
    border-radius: 10px;

}




.main-table thead tr{
    border-bottom: 1px black dashed;
    padding:12px;
}





/* ctrl+k+c to comment all and ctrl+k+u to uncomment */



@media(max-width: 768px) {
    .header.container{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .services .container {
        display: block;
        text-align: center;
    }
}
